USE [master]
GO
/****** Object:  Database [EVALUACION]    Script Date: 5/3/2025 9:25:55 AM ******/
CREATE DATABASE [EVALUACION]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EVALUACION', FILENAME = N'C:\SqlsData\MSSQL16.SQLEXPRESS\MSSQL\DATA\EVALUACION.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EVALUACION_log', FILENAME = N'C:\SqlsData\MSSQL16.SQLEXPRESS\MSSQL\DATA\EVALUACION_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EVALUACION].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EVALUACION]
GO
/****** Object:  Table [dbo].[Curso]    Script Date: 5/3/2025 9:25:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curso](
	[CursoId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[FECHAREGISTRO] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CursoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estudiante]    Script Date: 5/3/2025 9:25:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiante](
	[EstudianteId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Edad] [int] NULL,
	[Sexo] [char](1) NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EstudianteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matricula]    Script Date: 5/3/2025 9:25:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matricula](
	[MatriculaId] [int] IDENTITY(1,1) NOT NULL,
	[EstudianteId] [int] NOT NULL,
	[CursoId] [int] NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MatriculaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Curso] ON 

INSERT [dbo].[Curso] ([CursoId], [Nombre], [FECHAREGISTRO]) VALUES (1, N'Matemáticas', CAST(N'2025-05-03T09:04:52.020' AS DateTime))
INSERT [dbo].[Curso] ([CursoId], [Nombre], [FECHAREGISTRO]) VALUES (2, N'Lengua y Literatura', CAST(N'2025-05-03T09:04:52.020' AS DateTime))
INSERT [dbo].[Curso] ([CursoId], [Nombre], [FECHAREGISTRO]) VALUES (3, N'Ciencias Sociales', CAST(N'2025-05-03T09:04:52.020' AS DateTime))
SET IDENTITY_INSERT [dbo].[Curso] OFF
GO
SET IDENTITY_INSERT [dbo].[Estudiante] ON 

INSERT [dbo].[Estudiante] ([EstudianteId], [Nombre], [Apellido], [Edad], [Sexo], [FechaRegistro]) VALUES (1, N'Juan', N'Pérez', 15, N'M', CAST(N'2025-05-03T09:04:28.017' AS DateTime))
INSERT [dbo].[Estudiante] ([EstudianteId], [Nombre], [Apellido], [Edad], [Sexo], [FechaRegistro]) VALUES (2, N'María', N'Gómez', 12, N'F', CAST(N'2025-05-03T09:04:28.017' AS DateTime))
INSERT [dbo].[Estudiante] ([EstudianteId], [Nombre], [Apellido], [Edad], [Sexo], [FechaRegistro]) VALUES (3, N'Carlos', N'López', 10, N'M', CAST(N'2025-05-03T09:04:28.017' AS DateTime))
SET IDENTITY_INSERT [dbo].[Estudiante] OFF
GO
SET IDENTITY_INSERT [dbo].[Matricula] ON 

INSERT [dbo].[Matricula] ([MatriculaId], [EstudianteId], [CursoId], [Estado], [FechaRegistro]) VALUES (1, 1, 1, N'Activa', CAST(N'2025-05-03T09:08:29.870' AS DateTime))
INSERT [dbo].[Matricula] ([MatriculaId], [EstudianteId], [CursoId], [Estado], [FechaRegistro]) VALUES (2, 2, 3, N'Finalizada', CAST(N'2025-05-03T09:08:29.870' AS DateTime))
INSERT [dbo].[Matricula] ([MatriculaId], [EstudianteId], [CursoId], [Estado], [FechaRegistro]) VALUES (3, 3, 5, N'Activa', CAST(N'2025-05-03T09:08:29.870' AS DateTime))
SET IDENTITY_INSERT [dbo].[Matricula] OFF
GO
/****** Object:  Index [UQ_Matricula_Estudiante_Curso]    Script Date: 5/3/2025 9:25:55 AM ******/
ALTER TABLE [dbo].[Matricula] ADD  CONSTRAINT [UQ_Matricula_Estudiante_Curso] UNIQUE NONCLUSTERED 
(
	[EstudianteId] ASC,
	[CursoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Curso] ADD  DEFAULT (getdate()) FOR [FECHAREGISTRO]
GO
ALTER TABLE [dbo].[Estudiante] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Matricula] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Matricula]  WITH CHECK ADD  CONSTRAINT [FK_Matricula_Curso] FOREIGN KEY([CursoId])
REFERENCES [dbo].[Curso] ([CursoId])
GO
ALTER TABLE [dbo].[Matricula] CHECK CONSTRAINT [FK_Matricula_Curso]
GO
ALTER TABLE [dbo].[Matricula]  WITH CHECK ADD  CONSTRAINT [FK_Matricula_Estudiante] FOREIGN KEY([EstudianteId])
REFERENCES [dbo].[Estudiante] ([EstudianteId])
GO
ALTER TABLE [dbo].[Matricula] CHECK CONSTRAINT [FK_Matricula_Estudiante]
GO
ALTER TABLE [dbo].[Estudiante]  WITH CHECK ADD CHECK  (([Edad]>=(3) AND [Edad]<=(17)))
GO
ALTER TABLE [dbo].[Estudiante]  WITH CHECK ADD CHECK  (([Sexo]='F' OR [Sexo]='M'))
GO
ALTER TABLE [dbo].[Matricula]  WITH CHECK ADD CHECK  (([Estado]='Finalizada' OR [Estado]='Cancelada' OR [Estado]='Activa'))
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarEstadoMatricula]    Script Date: 5/3/2025 9:25:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ActualizarEstadoMatricula]
    @MatriculaId INT,
    @NuevoEstado NVARCHAR(20)
AS
BEGIN
    DECLARE @EstadoActual NVARCHAR(20);

    SELECT @EstadoActual = Estado FROM Matricula WHERE MatriculaId = @MatriculaId;

    IF @EstadoActual IS NULL
        THROW 50004, 'La matrícula no existe.', 1;

    IF @EstadoActual = 'Finalizada' AND @NuevoEstado = 'Cancelada'
        THROW 50005, 'No se puede cambiar de Finalizada a Cancelada.', 1;

    UPDATE Matricula
    SET Estado = @NuevoEstado
    WHERE MatriculaId = @MatriculaId;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_CrearMatricula]    Script Date: 5/3/2025 9:25:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CrearMatricula]
    @EstudianteId INT,
    @CursoId INT,
    @Estado NVARCHAR(20)
AS
BEGIN
    -- Validar existencia
    IF NOT EXISTS (SELECT 1 FROM Estudiante WHERE EstudianteId = @EstudianteId)
        THROW 50001, 'El estudiante no existe.', 1;

    IF NOT EXISTS (SELECT 1 FROM Curso WHERE CursoId = @CursoId)
        THROW 50002, 'El curso no existe.', 1;

    -- Validar duplicado
    IF EXISTS (SELECT 1 FROM Matricula WHERE EstudianteId = @EstudianteId AND CursoId = @CursoId)
        THROW 50003, 'La matrícula ya existe.', 1;

    -- Insertar
    INSERT INTO Matricula (EstudianteId, CursoId, Estado)
    VALUES (@EstudianteId, @CursoId, @Estado);
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarMatricula]    Script Date: 5/3/2025 9:25:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EliminarMatricula]
    @MatriculaId INT
AS
BEGIN
    IF NOT EXISTS (
        SELECT 1 FROM Matricula
        WHERE MatriculaId = @MatriculaId AND Estado = 'Cancelada'
    )
        THROW 50006, 'Solo se puede eliminar si el estado es Cancelada.', 1;

    DELETE FROM Matricula WHERE MatriculaId = @MatriculaId;
END;
GO
USE [master]
GO
